#timer .inline {
  display: inline-block;
}

#timer .input-wrapper {
  width: 100px;
}

#timer .btn-wrapper {
  margin-left: 1rem;
  margin-right: 2rem;
}

#timer .btn-icon {
  margin-left: 1rem;
}

#timer .checkbox-wrapper {
  margin-left: 1.5rem;
}

#timer .modal .footer {
  margin-bottom: -3%;
}
