#timer .inline {
  display: inline-block;
}

#timer .controls-wrapper {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

#timer .input-wrapper {
  margin-left: -6.5rem;
  width: 145px;
}

#timer .btn-icon {
  margin-left: 1rem;
}
