#achieved #goals {
  height: 391px;
  overflow-y: scroll;
}

#achieved #goals .delete-btn {
  cursor: pointer;
}

#achieved #goals .modal-btn {
  margin-left: 2.5%;
  text-transform: none;
}

#achieved #goals .modal .text {
  text-decoration: line-through;
}
