.alarm__inline {
  display: inline-block;
}

#alarm__controls-wrapper {
  margin-top: 1rem;
}

#alarm__input-wrapper {
  width: 100px;
  margin-right: 1.5rem;
}

#alarm__sounds-wrapper {
  margin-left: 2rem;
}
