@media only screen and (min-width: 601px) {
  #logs .card-panel {
    margin-top: -1.7rem;
  }
}

#logs .card-panel {
  height: 500px;
  padding: 0%;
  width: 100%;
}

#logs .info-btn {
  margin-top: 0.78rem;
}

#logs .wrapper {
  margin-top: -10%;
}

#logs .select {
  margin-left: 1rem;
}

#logs .collection {
  margin-top: -1rem;
}

#logs .no-logs-text {
  margin-left: 5%;
}

#logs .delete-btn {
  cursor: pointer;
}

#logs .pagination {
  margin-top: -0.25rem;
}

#logs .pagination li {
  cursor: pointer;
}

#logs .pagination li.break-me a {
  cursor: default;
}
