@media only screen and (max-width: 600px) {
  #log .card-panel {
    margin-top: -.1rem;
  }
}

#log .card-panel {
  height: 500px;
  padding: 0%;
  width: 100%;
}

#log .info-btn {
  margin-top: 0.78rem;
}

#log .error {
  padding: 1%;
  font-weight: bold;
}
