#active #goals {
  height: 391px;
  overflow-y: scroll;
}

#active .no-goal-text {
  margin-left: 5%;
}

#active #goals .collection-item {
  padding: 3.4%;
}

#active #goals .delete-btn {
  cursor: pointer;
}

#active #goals .modal-btn {
  margin-left: 2.5%;
}

#active #goals .modal .text {
  text-decoration: line-through;
}
